<form class="form create-form">
    <div class="form-group">
    <label for="create-title">Title:</label>
    <input class="form-input" type="text" id="create-title" />
    </div>
    <div class="form-group">
    <label for="create-content">Content:</label>
    <textarea class="form-input" type="type" id="create-content"> 
    </textarea>
    </div>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Post</button>
    </div>
</form>

<script src="/js/post.js"></script>
