<div class="form-wrapper">
    <form class="form update-form">
        <div class="form-group">
        <label for="update-title">New Title:</label>
        <input class="form-input" type="text" id="update-title" />
        </div>
        <div class="form-group">
        <label for="update-content">New Content:</label>
        <textarea class="form-input" type="type" id="update-content"></textarea>
        </div>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>

<script src="/js/update.js"></script>
